@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;

@layer base {

    html,
    body {
        @apply font-roboto;
        @apply bg-primary-800;
        scroll-behavior: smooth;
        max-width: 100%;
        min-height: 100vh;
        overflow-x: hidden
    }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
    @for $i from 0 through 50 {
        .text-truncate-\[#{$i}\] {
            display: -webkit-box;
            line-clamp: $i;
            box-orient: vertical;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical;
            -ms-line-clamp: $i;
            -ms-box-orient: vertical;
            overflow: hidden;

            @if $i ==1 {
                word-break: break-all;
            }

            @else {
                word-break: break-word;
            }
        }
    }
}